version: '3.8'
services:
  db:
    image: postgres:16.3-alpine3.18
    container_name: postgres-django-setup
    environment:
      - POSTGRES_USER=tutorial
      - POSTGRES_PASSWORD=tutorial
      - POSTGRES_DB=tutorial
    ports:
      - "127.0.0.1:5431:5432"
    volumes:
      - ~/projectDB:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${DB_NAME}", "-U", "${DB_USER_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5


  web:
    build: .
    restart: always
    container_name: web_django_app
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - .:/code
    links:
      - db
    depends_on:
      db:
        condition: service_healthy